body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 42px;
  color: rgb(194, 194, 194);
}

.userCard {
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
  transition: 0.2s linear;
}

.userCard:hover {
  background-color: rgba(224, 224, 224, 0.589);
}

.bio-text {
  font-size: 21px;
}

.repo-card-container {
  display: flex;
  justify-content: space-around;
}
.main-container {
  cursor: pointer;
  transition: 0.2s linear;
}
